body {
  font-family: 'Raleway', sans-serif;
}

.navbar-brand {
  font-size: 20px;
  color: white ;
  background-color: #2d55a6;
  font-weight: bold;
}

.color1{
  background-color:#2d55a6 ;
}

.color2{
  color: white;
}

.color3{
  background-color:#2d55a6 ;
}

.testimonial {
  background: #7999da ;
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top: 40px;
}


.color4{
  background-color: #2d55a6;
  color: white;
}

