body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)),url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ_xbHHUSWctAmu9HZH8ZpfOt7cAYyN254dpkj1i5JZwQO5KrI-");
    background-size: cover;
    background-position: center;
    color: #fff;
}

.logo {
    height: 100px;
    margin-top: 10px;
}
.text-description {
    letter-spacing: 4px;
    font-family: sans-serif;    
}

.form-control {
    background: transparent !important;
    color: #fff !important;
}

a .fab {
    color: #ffc;
    font-size: 30px;
    margin: 0 10px;
}

#text{
    font-size: 60px;
}
